# log
output_path: "./checkpoint_ResUnet_0/"

# data
dataset: "myDataset"
in_channels: 1
num_classes: 1 # must count the background class
threshold: 15

# network
three_dimensional: True
m_channels: 32
n_convs: 2
n_levels: 4
dropout: 0.1
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.0001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.0001

# training
batch_size: 3
crop_size: [96,96,96]

# testing
crop_size_test: [96,96,96]
margin_size: [22,22,22]

# trainer
num_iters: 500000
print_every: 200
valid_every: 10000
save_every: 10000

# malis
malis_lr: 0.001
malis_lr_pos: 0.0001
malis_start: 100000

# new 
snakes: False
snakes_start: 0
metric_start: 500001
brains: [223, 230, 236, 242]
clip_value: 10