# log
output_path: "log_baseline_3d"

# data
dataset: "neuron"
in_channels: 1
num_classes: 1 # must count the background class

# network
three_dimensional: True
m_channels: 64
n_convs: 2
n_levels: 2
dropout: 0.1
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.0001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.00001

# training
batch_size: 8
crop_size: [64,64,64]

# testing
crop_size_test: [90,90,90]
margin_size: [22,22,22]

# trainer
num_iters: 10000
print_every: 100
valid_every: 1000
save_every: 2000
