# log
output_path: "log_baseline"

# data
dataset: "isbi12"
in_channels: 1
num_classes: 2 # must count the background class

# network
three_dimensional: False
m_channels: 64
n_convs: 2
n_levels: 3
dropout: 0.2
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.0001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.00001

# training
batch_size: 4
crop_size: [256,256]

# testing
crop_size_test: [256,256]
margin_size: [22,22]

# trainer
num_iters: 5000
print_every: 100
valid_every: 500
save_every: 500
